other files/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React
build/
dist/
*.env

# IDE and Editor files (optional)
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log

# Dependency directories
pids
logs
results

# macOS
.DS_Store
