@import "../../../../App.scss";

.in-mobile {
  .mobile-dropdown {
    background-color: #0b0b0b;
    position: absolute;
    top: 0;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0;
    padding: 8px;
    height: 100vh;
    width: fit-content;
    @include tablet {
      width: 11rem;
    }
    @include mobile {
      width: fit-content;
    }

    &.open {
      animation: slide-in 0.3s forwards;
    }

    li {
      list-style-type: none;

      a {
        @include tablet {
          font-size: 2rem;
        }
        @include mobile {
          font-size: 1rem;
        }
      }
    }

    .sign-out {
      color: red !important;
    }
  }
  .icon {
    @include tablet {
      font-size: 2rem;
    }
  }

  @keyframes slide-in {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }
}
