@import "../../App.scss";

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 1rem;

  .icon {
    position: absolute;
    margin-top: 8px;
    @include tablet {
      // margin-top: 1px;
      // height: 1.8rem;
    }
  }

  input {
    padding-left: 1.8rem;
    height: fit-content;
    background-color: black;
    padding: 0.5rem 2rem;

    @include tablet {
      height: 4vh;
      font-size: 1.8rem;
      padding: 0.5rem 3rem;
    }
    @include mobile {
      height: 3vh;
      font-size: 1rem;
      padding: 0.3rem 1.5rem;
    }
  }
}
