.content-lists-container {
  width: 100%;
  h2 {
    font-weight: 500;
    font-size: 1.4vw;
    margin: 0;
    margin-left: 3vw;
  }

  .carousel {
    margin-top: 15px;
    margin-bottom: 40px;
    overflow: visible;
    &:hover {
      position: relative;
      z-index: 2;
    }

    .carousel-item {
      // display: flex;
      // justify-content: center; /* Horizontal centering */
      // align-items: center; /* Vertical centering */
      flex: 0 0 auto;
      width: 100%; /* or any fixed width */
      transform: translateX(calc(50% - 50px));

      &:hover {
        position: absolute;
        z-index: 2;
      }
    }

    .item:hover {
      z-index: 1;
    }
  }
}
