@import "../../App.scss";

.info-page {
  margin-top: auto;

  .details {
    display: flex;
    margin: 3vw;
    margin-top: 10vh;
    @include tablet {
      flex-direction: column;
    }

    .img-container {
      width: 100%;
      display: flex;
      justify-content: center;
      img {
        max-height: 80vh;
        @include tablet {
          object-fit: cover;
          width: 85vw;
        }
        @include mobile {
          object-fit: cover;
          width: auto;
          max-width: 100%;
        }
      }
    }

    .info {
      margin: 0 2vw;
      color: white;

      h1 {
        font-size: 2em;
      }

      p {
        @include tablet {
          font-size: 1.5rem;
        }
        @include mobile {
          font-size: 1rem;
        }
      }

      button {
        display: flex;
        background-color: white;
        color: black;
        border-radius: 4px;
        align-items: center;
        justify-content: center;
        width: 100%;
        @include tablet {
          font-size: 1.5rem;
        }
        @include mobile {
          font-size: 1rem;
        }

        span {
          font-weight: 800;
        }
      }

      .icons-container {
        // background-color: black;
        margin-top: 1rem;
        border-radius: 4px;
        // padding: 14px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
