.search-page {
  margin-top: 20vh;
  margin-left: 3vw;
  margin-right: 3vw;

  .container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 6vh;
    column-gap: 3px;

    .item-container {
      position: relative;
    }
  }
}
