@import "../../../App.scss";

.navbar {
  position: fixed;
  top: 0;
  z-index: 1001;

  &.black {
    background-color: #0b0b0b;
  }
  &.transparent {
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
  }

  .container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    height: 60px;
    align-items: center;

    .left {
      display: flex;
      margin-left: 3rem;

      @include tablet {
        margin-top: 0.5rem;
        height: 2.5rem;
      }
      @include mobile {
        width: 100%;
        justify-content: space-between;
        margin-left: 1rem;
      }
      a {
        margin-right: 1rem;

        img {
          height: 1.5rem;

          @include tablet {
            margin-top: 0.5rem;
            height: 2.5rem;
          }

          @include mobile {
            margin-top: 0;
            height: 1.5rem;
          }
        }
      }

      ul {
        display: flex;
        padding: 0;
        margin: 0;

        @include tablet {
          display: none;
        }

        li {
          list-style-type: none;
          margin-right: 1rem;
          color: grey;

          &.active {
            color: white;
          }

          @include tablet {
            margin-top: 0.5rem;
            font-size: 1.9rem;
          }
        }

        .icon {
          display: none;
        }

        a {
          color: inherit;
          margin: 0;
          img {
            border-radius: 4px;
          }
        }
        @include mobile {
          .icon {
            display: block;
          }
        }
      }
    }

    .right {
      margin-right: 3rem;
      display: flex;
      justify-content: space-around;
      width: fit-content;
      height: 50%;

      @include tablet {
        height: 100%;
        margin-top: 2rem;
        align-items: center;

        .icon {
          font-size: 3rem;
        }
      }
      @include mobile {
        margin-right: 1rem;
        align-items: center;
        margin-top: 0;

        .icon {
          font-size: 1.5rem;
        }
      }

      .account-dropdown-container {
        @include tablet {
          display: none;
        }
        position: relative;

        .account-dropdown-list {
          position: absolute;
          top: 100%;
          right: 0;
          background-color: #333;
          list-style-type: none;
          padding: 0;
          margin: 0;
          border-radius: 4px;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
          width: max-content;

          li {
            margin: 0;
            padding: 1rem;
            button {
              color: white;
              font-size: 0.8rem;
              outline: none;
              border: none;
              background-color: transparent;

              &:hover {
                outline: none;
                border: none;
                text-decoration: underline;
              }
            }
          }
        }
      }

      img {
        height: 100%;
        border-radius: 5px;
      }

      a {
        color: white;
      }
    }
  }
}
